@model ShoppingCartViewModel

<li>
    <a asp-controller="ShoppingCart" asp-action="Index" >
        <span class="glyphicon glyphicon-shopping-cart"></span>
        <span id="cart-status">
            @Model.ShoppingCart.GetShoppingCartItems().Count
        </span>
        
    </a>
</li>
<script src="js/signalr.min.js"></script>
<script>
    let hubUrl = '/ShoppingCartCount';
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl(hubUrl)
        .build();
 
    // получение сообщения от сервера
    hubConnection.on('RefreshShopingCart', function (message) {
 
        // создает элемент <p> для сообщения пользователя
        //let elem = document.createElement("p");
        var counter = document.getElementById("cart-status");
        counter.innerHTML = '';
        counter.appendChild(document.createTextNode(message));
 
    });
    hubConnection.start();
</script>
