<h2>Contact Bethany's Pie Shop</h2>
<h4>If you have any questions, please don't hesitate to get in touch. Click below to send us an email.</h4>
<email adress="info@@bethanypieshop.com" content="Contact us"></email>